@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --main-bg-color: #121515;
    --item-bg: #211e21;
    --tooltip-bg-color: #151723;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var( --main-bg-color);
}

header {
    color: white;
    padding: 20px;
    text-align: center;
}

    header h1 {
        margin: 0;
    }

    header hr {
        height: 0.1px;
        background-color: gray;
    }

main {
    display: flex;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    margin-right: 20px; 
}

.tabs {
    display: flex;
    background-color: #1f1f1f;
    width: 100%;
}

.tab-button {
    background-color: #333;
    border: none;
    border-right: 1px solid #444;
    cursor: pointer;
    padding: 8px 16px;
    margin: 0;
    font-size: 14px; 
    color: #ffffff;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
    flex: 1; 
}

    .tab-button.active {
        background-color: #1f1f1f;
        border-bottom: 2px solid #676c70; 
        border-right: 1px solid #444;
    }

    .tab-button:hover {
        background-color: #444;
    }

.tab-content {
    display: none;
    padding: 20px;
    background-color: var( --main-bg-color);
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
    color: #ffffff;
    text-align: left;
}

    .tab-content.active {
        display: block;
    }



.frame {
    border: 2px solid #ffffff;
    padding: 10px;
    background-color: var( --main-bg-color);
    border-radius: 5px;
    margin: 10px;
}

    .frame img {
        display: block;
        max-width: 200px;
        height: auto;
    }

.headerpic {
    text-align: center;
    color: white;
    font-weight: 600;
    margin-top: 10px; 
}

.listpic {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

    .listpic li {
        text-align: left;
        color: white;
        font-weight: 600;
        padding: 5px;
    }

    .listpic .icon {
        margin-right: 10px;
        width: 16px;
        height: 16px;
        vertical-align: middle; 
    }



.item-container {
    display: flex;
    gap: 30px;
    position: relative;
    align-items: center;
}

    .item-container::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: lightblue;
        z-index: -1; 
    }

.item {
    border: 1px solid lightblue;
    width: 50px;
    max-height: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--item-bg);
    transition: background-color 0.3s;
}

    .item:hover {
        background-color: var(--item-bg);
    }

    .itemTiming {
        font-size: 0.6em;
        text-align: center;
        margin: 0;
        padding: 3px;
    }

    .item img {
        width: 32px;
        height: 28px;
        padding: 5px;
    }

.aboutheader {
    text-align: center;
    font-weight: 300;
}

.abilitiesimg {
    border: 1px solid gray
}

.loredesc {
    font-size: 0.9em;
}

.aghshard {
    padding: 8px;
    background-color: #1c2e50;
    max-width: 300px;
    border-radius: 7px;
}

.itemsdesc img {
    width: 32px;
    height: 28px;
    border: 1px solid gray;
    padding: 5px;
}

.itemsdesc b {
    margin-left: 10px
}

.mainContainer {
    height:200px;
    width: 1000px; 
    padding-bottom: 1px;
    border: 1px solid gray;
    background-color: #191e1e; 
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
}

.PAguivid {
    position: relative;
    width: 200px; 
    height: 200px; 
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start; 
}

    .PAguivid video {
        width: 200px; 
        height: 200px;
        filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.5)); 
    }

.lvlcircle {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: black; 
    border: 2px solid #fddb1c; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.lvltext {
    font-size: 14px;
    color: #fddb1c; 
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(255, 255, 0, 0.8); 
}

.guiabilitiesContainer {
    margin-top: 25px; 
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-start;
}




.guiabilitiesimg {
    border: 1px solid gray;
    width: 80px;
    height: 80px;
    margin-left: 30px; 
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5), 
    inset 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

.bars {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 50px; 
    margin-top: 11px;
    margin-left: 30px;
}

.bar-green, .bar-blue {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 30px;
    width: 400px; 
    padding: 0 10px; 
}

.bar-green {
    background-color: #13971b;
    border: 1px solid gray;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5),
    inset 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.bar-blue {
    background-color: #0f4099;
    border: 1px solid gray;
    border-top: none;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5),
    inset 7px 7px 10px rgba(0, 0, 0, 0.5); 
}

.bar-text {
    color: white;
    font-weight: bold;
    font-size: 14px; 
    flex-grow: 1;
    text-align: center; 
}

.bar-text-hp {
    color: #33e63f;
    font-weight: bold;
    font-size: 14px;
}
.bar-text-mana {
    color: #2e70ea;
    font-weight: bold;
    font-size: 14px; 
}


.wtf {
    flex-direction: column;
}
.inventory {
    margin-left: 30px;
    border-left: 1px solid gray;
    width: 320px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    background-color: var( --main-bg-color);
    padding: 10px;
    box-sizing: border-box;
}

.invitems {
    background-color: #292525;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-sizing: border-box; 
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5), 
    inset 7px 7px 10px rgba(0, 0, 0, 0.5); 
}

.guiattributes {
    position: absolute;
    bottom: 0; 
    left: 59%; 
    transform: translateX(-50%); 
    display: flex; 
    justify-content: flex-end; 
    padding: 0;
    margin: 0;
    list-style-type: none; 
    background-color:#000000c4;
}

    .guiattributes li {
        display: flex; 
        align-items: center; 
        margin: 0 10px;
    }

.guiicon {
    width: 16px; 
    height: 16px;
    margin-right: 0;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px;
    margin-top: 10px;
    width: 220px; 
    height: 120px; 
}

.guibutton {
    width: 100px;
    height: 50px;
    border: 1px solid #b6afaf;
    background-color: #292525;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0; 
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5), inset 7px 7px 10px rgba(0, 0, 0, 0.5);
}

    .guibutton:hover {
        background-color: #433d3d;
    }

.guibutton-text {
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.statsitemcontainer {
    display: flex;
    gap: 30px;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 30px;

}

.statsitem {
    border: 1px solid gray;
    width: 50px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--item-bg);
    transition: background-color 0.3s;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5), inset 7px 7px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
}

    .statsitem:hover {
        background-color: #433d3d;
    }

    .statsitem p {
        font-size: 0.6em;
        text-align: center;
        margin: 0;
    }

    .statsitem img {
        width: 32px;
        height: 28px;
        padding: 5px;
    }

.buttons-items-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.statscontainer {
    width: 500px;
    height: 179px;
    background-color: black;
    border: 1px solid gray;
    margin-bottom: 20px; 
    position: relative; 
}

    .statscontainer::before {
        content: "";
        position: absolute;
        bottom: -20px; 
        left: 15%; 
        transform: translateX(-50%); 
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid black; 
        z-index: 1; 
    }

    .statscontainer::after {
        content: "";
        position: absolute;
        bottom: -21px; 
        left: 15%; 
        transform: translateX(-50%); 
        width: 0;
        height: 0;
        border-left: 21px solid transparent;
        border-right: 21px solid transparent; 
        border-top: 21px solid transparent; 
        border-top-color: gray; 
        z-index: 0;
    }
.headercontainer {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 180px;
    margin-left:100px;
}
.headercontainer h3 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: gray;
}

.a-d-container {
    width: 500px;
    height: 240px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.attackcontainer {
    width: 245px;
    height: 120px;
    background: linear-gradient(to bottom, #000000 50%, #050505 60%, #0a0a0a 70%, #0f0f0f 80%, #141414 90%, #1a1a1a 95%, #242424 100%);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.defencecontainer {
    width: 245px;
    height: 120px;
    margin-left: 10px;
    background: linear-gradient(to bottom, #000000 50%, #050505 60%, #0a0a0a 70%, #0f0f0f 80%, #141414 90%, #1a1a1a 95%, #242424 100%);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
}

    .defencecontainer::before {
        content: "";
        position: absolute;
        left: -5px;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: gray;
    }
.textcontainer {
    margin-bottom: 7px;
    margin-left: 20px;
}
    .textcontainer p {
        font-weight: bold;
        font-size: 12px;
        text-align: left;
        color: #999999;
        margin: 0;
        margin-bottom: 2px;
        padding: 0;
    }
.avaluecontainer div {
    font-size: 12px;
    color: white; 
    margin-top:2px;
}

.dvaluecontainer div {
    font-size: 12px;
    color: white;
    margin-top: 2px;
}


.tooltipWB {
    visibility: hidden;
    background-color: var(--tooltip-bg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid gray;
    width: 200px;
    height: 195px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

    .tooltipWB::after {
        content: "";
        position: absolute;
        top: 100%; 
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.show-tooltipWB {
    visibility: visible;
    opacity: 1;
}

.tooltipHeader {
    width: 200px;
    height: 50px;
    background-color: #242434;
    display: flex;
    align-items: center;
    box-sizing: border-box; 
}

    .tooltipHeader img {
        width: 50px;
        height: 40px;
        border-radius: 2px;
        padding: 0;
        margin-right: 10px;
        margin-left: 4px;
        box-sizing: border-box;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5),
        inset 3px 3px 10px rgba(0, 0, 0, 0.5);
    }

    .tooltipHeader p {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 27px;
    }
.tooltipType {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 0.5px solid #3f3f5a;
    border-bottom: 0.5px solid #3f3f5a;
}
    .tooltipType p {
        font-size: 9px;
        text-align: left;
        padding: 2px;
        color: #3f3f5a;
    }
.tooltipInfo {
    margin-top: 10px;
}

    .tooltipInfo p {
        font-size: 11px;
        padding: 3px;
        text-align: left;
        color: #8989a1; 
        font-weight: normal; 
    }

    .tooltipInfo .number {
        font-weight: bold;
        color: #fff; 
    }
.tooltipAbout {
    background-color: #090b10;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:2px;
}

    .tooltipAbout p {
        font-size: 8px;
        padding: 2px;
        margin-left:2px;
        text-align: left;
        color: #434356; 
    }

.tooltipMW {
    visibility: hidden;
    background-color: var(--tooltip-bg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid gray;
    width: 200px;
    height: 250px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

    .tooltipMW::after {
        content: "";
        position: absolute;
        top: 100%; 
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.show-tooltipMW {
    visibility: visible;
    opacity: 1;
}
.activeAbility {
    display: flex;
    flex-direction: column;
    background-color: #141273;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: left;
}
.activeAbilityHeader {
    background: linear-gradient(to right, #0c27c0 60%, #141273 100%);
    background-color: #0c27c0;
    font-weight: bold;
    padding: 2px;
    color: #6f8af6;
    text-align: left;
}
    .activeAbilityHeader p {
        text-align: left;
        margin-left: 5px;
        margin-right: 5px;
    }
    .activeAbilityInfo {
    color: #8989a1;
    text-align: left;
}
    .activeAbilityInfo p {
        margin: 0;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        text-align: left;
    }

.tooltipBF {
    visibility: hidden;
    background-color: var(--tooltip-bg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid gray;
    width: 200px;
    height: 385px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

    .tooltipBF::after {
        content: "";
        position: absolute;
        top: 100%; 
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.show-tooltipBF {
    visibility: visible;
    opacity: 1;
}
.passiveAbility {
    display: flex;
    flex-direction: column;
    background-color: #262831;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.passiveAbilityHeader {
    background: linear-gradient(to right, #3c404e 60%, #262831 100%);
    background-color: #3c404e;
    font-weight: bold;
    padding: 2px;
    color: #8c91a6;
    text-align: left;
}

    .passiveAbilityHeader p {
        text-align: left;
        margin-left: 5px;
        margin-right: 5px;
    }

.passiveAbilityInfo {
    color: #8c91a6;
    text-align: left;
}

    .passiveAbilityInfo p {
        margin: 0;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        text-align: left;
    }
.green {
    color: #37ff30;
}
.tooltipDES {
    visibility: hidden;
    background-color: var(--tooltip-bg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid gray;
    width: 200px;
    height: 285px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

    .tooltipDES::after {
        content: "";
        position: absolute;
        top: 100%; 
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.show-tooltipDES {
    visibility: visible;
    opacity: 1;
}
.tooltipBKB {
    visibility: hidden;
    background-color: var(--tooltip-bg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid gray;
    width: 200px;
    height: 275px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

    .tooltipBKB::after {
        content: "";
        position: absolute;
        top: 100%; 
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.show-tooltipBKB {
    visibility: visible;
    opacity: 1;
}
.tooltipSTC {
    visibility: hidden;
    background-color: var(--tooltip-bg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid gray;
    width: 200px;
    height: 313px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

    .tooltipSTC::after {
        content: "";
        position: absolute;
        top: 100%; 
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.show-tooltipSTC {
    visibility: visible;
    opacity: 1;
}
.red {
    color: #bf2929;
}

.tooltipAB {
    visibility: hidden;
    background-color: var(--tooltip-bg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid gray;
    width: 200px;
    height: 465px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

    .tooltipAB::after {
        content: "";
        position: absolute;
        top: 100%; 
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.show-tooltipAB {
    visibility: visible;
    opacity: 1;
}
.tooltipPT {
    visibility: hidden;
    background-color: var(--tooltip-bg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid gray;
    width: 200px;
    height: 285px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

    .tooltipPT::after {
        content: "";
        position: absolute;
        top: 100%; 
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.show-tooltipPT {
    visibility: visible;
    opacity: 1;
}
.ability-wrapper {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.guiabilitiesimg {
    width: 64px; 
    height: 64px; 
}

.ability-number {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #2b29a3;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 
    0px 0px 2px black; 
}